<div class="container-fluid full-bg-header">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center program-title">Full Time Bootcamp</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row program-content">
    <div class="col-md-6">
      <img class="img-responsive" src="/assets/full-time/software-dev2.jpg" alt="">
    </div>
    <div class="col-md-6">
      <h1>Become A Software Engineer</h1>
    </div>
    <div class="col-md-6">
      <p class="parragraphs">So you’re thinking about taking the 
        deep dive into development? 
        Looking for a career change or 
        professional kickstart? Redirect your
         life’s path by learning developer 
        tools and web technologies at NSS. 
        The Web Developer Bootcamp is a 
        six-month, full-time program 
        designed for those ready to go all in. The curriculum teaches the skills and technologies required to become a full-stack software developer.
      </p>
    </div>
  </div>

  <div class="row padding-bottom-top">
    <div class="col-md-12">
      <h1>Learn Code With Total Immersion Training</h1>
    </div>
    <div class="col-md-12">
      <p class="parragraphs">This bootcamp is the ultimate challenge on the road to a new career as a programmer. It’s intense—as in five days per week, hands-on, writing lots of code. There are regular individual and group projects, and the daily introduction of new material and best practices. It’s a fast-moving and rigorous journey where you will learn a lot about programming and, coincidentally, about yourself.
      </p>
      <p class="parragraphs">
      The Web Developer Bootcamp is an intellectually stimulating, horizon broadening, energizing, and fun experience. Students emerge with the skills necessary to build ideas from concept to production. By the end of the program, you will find yourself prepared for an entry-level software developer position.
      </p>
    </div>
    <div class="col-md-8 center-block">
      <img class="img-responsive" src="/assets/full-time/nss_website_programs-small.png" alt="">
    </div>
  </div>

  <div class="row padding-bottom-top">
    <div class="col-md-12">
      <h1 class="front-back">FRONT-END DEVELOPMENT FOUNDATION</h1>
    </div>
    <div class="col-md-12">
      <p class="parragraphs"><span style="font-weight: bold;">Months 1-3</span> of the Web Development Bootcamp prepares students to work on building the front-end code associated with websites, web apps and hybrid mobile applications. Students learn to connect their front-end code to server code through open web APIs or custom web services. For many of our students this course is also their introduction to programming.
      </p>
      <p class="parragraphs">
        The focus of this course is on the three standard languages of the web: <span style="font-weight: bold;">HTML, CSS and JavaScript</span>.
      </p>
      <p class="parragraphs">
        <a class="orange" href="<%= programs_front_end_path %>">Learn more </a>about the Front-End Foundations Class.
      </p>
    </div>
  </div>

  <div class="row padding-bottom-top">
    <div class="col-md-12">
      <h1 class="front-back">SOFTWARE DEVELOPMENT FOUNDATIONS</h1>
    </div>
    <div class="col-md-12">
      <p class="parragraphs">Months 4-6 of the program are focused on the Software Development Foundations. All of these courses cover the same general software engineering and server-side development concepts, such as test-driven development, object-oriented programming, pair programming, source code control in a team environment, common code patterns, SQL database access, and more. However, each course teaches those concepts in the context of a different programming language and associated technology stack.
      </p>

      <p class="parragraphs">
        There are four course options for the second half of the program:
      </p>

      <ul>
        <li>
          <a class="orange parragraphs" href="<%= programs_ruby_path %>">Ruby language and Rails Framework</a>
        </li>
        <li>
          <a class="orange parragraphs" href="<%= programs_mean_path %>">Javascript language and the MEAN stack</a>
        </li>
        <li>
          <a class="orange parragraphs" href="<%= programs_csharp_path %>">C# language and the .Net stack</a>
        </li>
        <li> 
          <a class="orange parragraphs" href="<%= programs_python_path %>">Python Language and Django Framework</a>
        </li>
      </ul>
      <p class="parragraphs">Visit the links above to learn more about the technologies covered in each of our classes.</p>

    </div>
  </div>
</div>

<div class="container-fluid orange-bg">
  <div class="container padding-bottom-top">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h1 class="white">Have Questions?</h1>
        <p class="parragraphs white">Visit our Frequently Asked Questions page for more details.</p>
        <a href="" class="btn-default btn btn-faq">FAQ</a>
      </div>

      <div class="col-md-5 col-md-offset-1">
        <h1 class="white">Sign Me Up</h1>
        <p class="parragraphs white">Excited about NSS? Apply today.</p>
        <a href="" class="btn-default btn btn-faq">Apply Now</a>
      </div>
    </div>
  </div>
</div>
