<%= @course.name %>
<br>
<%= @course.type_of_program %>
<br>
<%= @course.date %>
<br>
<%= @course.schedule %>
<br>
<%= @course.location %>
<br>
<%= @course.tuition %>
<br>
<%= @course.wyl %>
<br>
<%= @course.wyl_two %>
<br>
<%= @course.hard_soft %>
<br>
<%= @course.skills %>
<br>

<h1>Pricing</h1>
<% if @course.type_of_program == "Part-time Class (12 months)" %>
  <p>There are multiple payment options for the Evening Program. With each payment option, you retain the flexibility to apply to take the second half of the program during the day.</p>
  <br>


  <h1>Option 1</h1>
  <p>Full Payment up-front</p>
  <br>
  <p>Your cost is $10,000</p>
  <ul>
    <li>$4,000 initial deposit upon your acceptance into the program, in order to hold your seat.</li>
    <li>$6,000 balance is due on or before the first day of class</li>
  </ul>

  <br>

  <h1>Option 2</h1>
  <p>Initial deposit plus two payments</p>
  <br>
  <p>Your cost is $10,500</p>
  <ul>
    <li>$4,000 initial deposit upon your acceptance into the program, in order to hold your seat.</li>
    <li>$2,000 balance is due on or before the first day of class</li>
    <li>$4,500 payment due on or before the first day of the second half of the program (i.e. the beginning of your seventh month in the program)</li>
  </ul>

  <br>

  <h1>Option 3</h1>
  <p>Initial deposit plus two payments</p>
  <br>
  <p>Your cost is $11,000</p>
  <ul>
    <li>$4,000 initial deposit upon your acceptance into the program, in order to hold your seat.</li>
    <li>$1,000 balance is due on or before the first day of class</li>
    <li>$600 per month for 10 months starting with the second month of the program.</li>
  </ul>

<% elsif @course.type_of_program == "Bootcamp (6 months)"%>
  <p>There are two ways to pay for your training at NSS: our standard tuition or by qualifying as a Nashville Tech Apprentice. Out of a total of 24 seats in each cohort at NSS, our goal is to have 12 be Nashville Tech Apprentices and the remainder paying standard tuition. A limited number of grants and scholarships are also available for students from underrepresented groups like women and minorities.</p>

<% else @course.tuition == "Professional Development (3 months)"%>
  <%= @course.tuition %>
<% end %>
