
<div class="container-fluid upcoming_programs_background">
  <div class="row">
    <div class="col-md-12">
      <% if @course.type_of_program == "Professional Development (3 months)"%>
        <h1 class="text-center program-title"><%=@course.name%></h1>
      <%else%>
        <h1 class="text-center program-title"> Full-Time Web Developer Bootcamp, <%=@course.back_end_lang%> And <%= @course.back_end_framework%></h1>
      <%end%>
    </div>
  </div>
</div>

<script type="text/javascript">
var images = ['upcoming0.jpg', 'upcoming1.jpg', 'upcoming2.jpg', 'upcoming3.jpg', 'upcoming4.jpg'];
$('.upcoming_programs_background').css({'background-image': 'url(/assets/upcoming/' + images[Math.floor(Math.random() * images.length)] + ')'});

</script>

<!----------------------------------------------------------------------

WHAT YOU'LL LEARN

----------------------------------------------------------------------->


<div class="container">
  <div class="row program-content padding-bottom-top">
    <div class="col-md-12">
      <h1>What You'll Learn</h1>
    </div>
    <% if @course.name == "IOS Development Fast Track"%>
    <div class="col-md-6">
      <p>Do you want to add Apple’s iOS platform and the Swift and Objective-C languages to your professional tool kit?
        Need to keep your career moving forward by building your skills in mobile development?
        Our evening intensive introduction to iOS development is what you need to upgrade your skills and expand your career options.
         Come learn iOS development, as well as the Apple Human Interface Guidelines (the HIG) and Apple App Store submission requirements and process.
      </p>
    </div>
    <div class="col-md-6">
      <ul>
        <li><p>Learn to write, compile, test, debug, and instrument iOS Apps</p></li>
        <li><p>Develop familiarity with the Apple development toolchain and it’s open source extensions (git, cocoapods, KIF)</p></li>
        <li><p>Gain Understanding of the Apple Human Interface Guidelines (the HIG) and Apple App Store submission requirements and process</p></li>
        <li><p>Learn (in the iOS context) Object-Oriented Programming, UI Design, Multimedia/Graphics, Animation, Multithreading, Networking, Database Processing and Security.</p></li>
        <li><p>Final project, to be chosen by student and approved by teacher, should go in depth on some subset of the technologies taught in class.</p></li>
      </ul>
    </div>
    <%else%>
    <div class="col-md-6">
      <p class="parragraphs">The Web Developer Bootcamp is a six-month, full-time program. The curriculum teaches the skills and technologies required to become a full-stack software developer.
        For most of our students this course is also their introduction to programming.
        The core technologies that students use in this course are the three standard languages of the web: HTML, CSS and JavaScript.
        This course prepares students to work and build the front-end code associated with websites, web apps and hybrid mobile applications.
      </p>
    </div>
    <div class="col-md-6">
      <ul>
        <li class="parragraphs">Program with <%=@course.back_end_lang%> and the <%= @course.back_end_framework%> framework</li>
        <li class="parragraphs">HTML, CSS and Javascript</li>
        <li class="parragraphs">Web application development and design</li>
        <li class="parragraphs">Application deployment and management</li>
        <li class="parragraphs">Skills necessary to join a development team as a junior developer</li>
      </ul>
    </div>
  <%end%>
  </div>
</div>

<!----------------------------------------------------------------------

CLASS QUICK INFO

----------------------------------------------------------------------->


<div class="container-fluid class-info ">
  <div class="container">
    <div class="row padding-bottom-top">

          <div class="col-md-3 col-sm-12 text-center">
            <div class="text-center fa fa-clock-o"aria-hidden="true"></div>
            <h3 class="text-center white">Schedule</h3>
            <p class="parragraphs white text-center">
              <% if @course.type_of_program == "Bootcamp (6 months)" %>
                Monday thru Friday 9AM - 4PM
              <% elsif @course.type_of_program == "Part-time Class (12 months)" %>
                Monday & Tuesday M/T: 6PM - 9:30PM
              <% else @course.type_of_program == "Professional Development (3 months)"%>
                Monday & Tuesday 6PM - 9PM
              <% end %>
            </p>
          </div>

          <div class="col-md-3 col-sm-12 text-center">
            <div class="text-center fa fa-map-marker"aria-hidden="true"></div>
            <h3 class="text-center white">Location</h3>
            <p class="parragraphs white text-center">
              500 Interstate Blvd S, Suite 300
              Nashville, TN 37210
            </p>
          </div>

          <div class="col-md-3 col-sm-12 text-center">
            <div class="text-center fa fa-calendar"aria-hidden="true"></div>
            <h3 class="text-center white">Dates</h3>
            <p class="parragraphs white text-center">
              <%= @course.date %>
            </p>
          </div>

          <div class="col-md-3 col-sm-12 text-center">
            <div class="text-center fa fa-money"aria-hidden="true"></div>
            <h3 class="text-center white">Tuition</h3>
            <p class="parragraphs white text-center">
              <%= @course.tuition %>
            </p>
          </div>

    </div>
  </div>
</div>

<!----------------------------------------------------------------------

REQUIREMENTS

----------------------------------------------------------------------->


<% if @course.type_of_program == "Bootcamp (6 months)" %>
<div class="container">
  <div class="row program-content padding-bottom-top">
    <div class="col-md-12">
      <h1>Requirements</h1>
    </div>
    <div class="col-md-6">
      <h3 class="orange">HARDWARE & SOFTWARE</h3>
      <ul>
        <li class="parragraphs">Personal Laptop with 4 GB RAM and at least 20GB free disk space</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h3 class="orange">SKILLS</h3>
      <ul>
        <li class="parragraphs">Structured Thinking </li>
        <li class="parragraphs">Curiosity </li>
        <li class="parragraphs">Demonstrated Self-Motivated Learning </li>
      </ul>
    </div>
  </div>
</div>

<%elsif @course.type_of_program == "Part-time Class (12 months)"%>
<div class="container">
  <div class="row program-content padding-bottom-top">
    <div class="col-md-12">
      <h1>Requirements</h1>
    </div>
    <div class="col-md-6">
      <h3>HARDWARE & SOFTWARE</h3>
      <ul>
        <li class="parragraphs">Personal Laptop with 4 GB RAM and at least 20GB free disk space</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h3>SKILLS</h3>
      <ul>
        <li class="parragraphs">Intermediate level CSS, HTML and Javascript </li>
      </ul>
    </div>
  </div>
</div>
<%elsif @course.name == "IOS Development Fast Track"%>
<div class="container">
  <div class="row program-content padding-bottom-top">
    <div class="col-md-12">
      <h1>Requirements</h1>
    </div>
    <div class="col-md-6">
      <h3 class="orange">HARDWARE & SOFTWARE</h3>
      <ul>
        <li><p>Apple Developer Account ($99/year)</p></li>

        <li><p>A Macintosh laptop running OS X 10.11 (El Capitan). NB It is NOT an option to use a Windows or Linux computer for completion of homework assignments in this class.  if you do not have access to a Macintosh computer with the appropriate version of the software installed you will not be able to complete any assignments.  Student must bring this computer to class as we will be doing a lot of programming in class.</p></li>

        <li><p>The Xcode Integrated Development Environment installed on the student’s computer</p></li>

        <li><p>Xcode <a class="orange" href="https://developer.apple.com/xcode/ide/">7.3</a></p></li>

        <li><p>iPhone or iPad running iOS 9 or later</p></li>

        <li><p>Accounts with <a class="orange" href="http://github.com">GitHub</a> and <a class="orange" href="http://testflightapp.com">TestFlightApp.com</a></p></li>

        <li><p>Reading: <a class="orange" href="https://itunes.apple.com/us/book/swift-programming-language/id881256329?mt=11">The Swift Programming Language</a></p></li>

        <li><p>A git client, <a class="orange" href="http://www.git-tower.com/">Tower</a> or <a class="orange" href="https://www.sourcetreeapp.com/">SourceTree</a> are both recommended</p></li>

        <li><p>Additional Optional Reading: <a class="orange" href="http://www.amazon.com/Functional-Programming-Swift-Chris-Eidhof/dp/3000480056">Functional Programming in Swift</a>, <a class="orange" href="https://itunes.apple.com/us/book/using-swift-cocoa-objective/id888894773?mt=11">Using Swift with Cocoa and Objective-C</a></p></li>

      </ul>
    </div>

    <div class="col-md-6">
      <h3 class="orange">SKILLS</h3>
      <ul>
        <li class="parragraphs">Previous experience in programming with an object-oriented language such as JavaScript, Python, Ruby, C#, Java. Long exposure not required, but the student MUST have an understanding of such things as how to compile and run code, read and respond to error and warning messages, use a debugger and understand the basics of input and output from a computer. </li>
      </ul>
    </div>
  </div>
</div>
<%end%>


<!----------------------------------------------------------------------

SYLLABUS

----------------------------------------------------------------------->



<div class="container">
  <div class="row padding-bottom-top">
    <h1>Syllabus</h1>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% if @course.name == "IOS Development Fast Track"%>
      <div class="panel-heading" role="tab" id="headingOne">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <h3 ><span class="syllabus-title">SECTION 1: </span> Elements of an iOS app and the Apple Toolchain</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

        <ul class="parragraphs">
          <li>Xcode
            <ul>
              <li>Editor</li>
              <li>Interface Builder (storyboards and xibs)   * Clang</li>
              <li>Debugger</li>
            </ul>
          </li>
          <li>iOS Simulator</li>
          <li>Hello, World in iOS on Simulator and Device</li>
          <li>Instruments
            <ul>
              <li>Profiler</li>
              <li>Memory Management</li>
              <li>UIAutomation</li>
            </ul>
          </li>
          <li>Languages
            <ul>
              <li>ObjectiveC (history, features, comparison with other languages, e.g. C++)</li>
              <li>Swift (history, features, comparison with other languages, e.g. Scala/F#/Rust)</li>
            </ul>
          </li>
          <li>Overview of the Apple Frameworks</li>
          <li>Git/GitHub</li>
          <li>Packaging
            <ul>
              <li>Cocoapods/Frameworks</li>
              <li>ipa’s</li>
            </ul>
          </li>
          <li>Distribution
            <ul>
              <li>TestFlightApp.com/Crashlytics</li>
              <li>The App Store/ Legal stuff / Submission Rules</li>
            </ul>
          </li>
        </ul>
        <hr class="greyHr">
      </div>


      <!-- TAB #2 -->

      <div class="panel-heading" role="tab" id="headingTwo">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h3><span class="syllabus-title">SECTION 2: </span> Object Oriented Programming</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <ul class="parragraphs">
          <li>Brief History and Principles of OOP</li>
          <li>Swift Language Introduction</li>
          <li>the Swift REPL/Playgrounds</li>
          <li>Mutability/Immutability</li>
          <li>Control Flow</li>
          <li>Functions</li>
          <li>Swift Type System</li>
          <li>Enums/Structures/Classes/Protocols
            <ul>
              <li>Reference Types vs Value Types</li>
            </ul>
          </li>
          <li>Generics</li>
          <li>Closures</li>
          <li>Custom Operators</li>
          <li>Optional Chaining</li>
          <li>Foundation Kit components</li>
          <li>Memory Management (details of ARC as compared to Auto GC)
            <ul>
              <li>JSON handling in Swift</li>
            </ul>
          </li>
        </ul>

        <hr class="greyHr">
      </div>

      <!-- TAB #3 -->

      <div class="panel-heading" role="tab" id="headingThree">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h3><span class="syllabus-title">SECTION 3: </span> User Interface Design With Model/View/Controller (MVC) Paradigm</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <ul class="parragraphs">
          <li>Application Lifecycles (UIApplication and UIApplicationDelegate)</li>
          <li>Explanation of Model/View/Controller vs. Other Paradigms</li>
          <li>Overview of UIKit components</li>
          <li>Basic UIViewController
            <ul>
              <li>Lifecycle</li>
              <li>Target/Action paradigm</li>
              <li>Outlets</li>
              <li>Delegation Methods</li>
              <li>Instantiation via Storyboards</li>
            </ul>
          </li>
          <li>Laying out MVC UIs
            <ul>
              <li>Subclassing UIViewController</li>
              <li>Adding Outlets and Target/Actions</li>
            </ul>
          </li>
          <li>View Controller hierarchies</li>
          <li>View Controller Transitions/Segues
            <ul>
              <li>Push/pop (UINavigationController)</li>
              <li>Modal</li>
              <li>Intro to animations</li>
            </ul>
          </li>
          <li>Other View Controllers
            <ul>
              <li>UITableViewController</li>
              <li>UICollectionViewController</li>
              <li>UITabBarController</li>
            </ul>
          </li>
          <li>Apps
            <ul>
              <li>MainViewController app with buttons and textfields</li>
              <li>Segue to a simple TableView scene with static data</li>
              <li>Segue to a simple CollectionView scene with static data</li>
              <li>TableView based To-Do list </li>
            </ul>
          </li>
        </ul>

        <hr class="greyHr">
      </div>

      <!-- TAB #4 -->

      <div class="panel-heading" role="tab" id="headingFour">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <h3><span class="syllabus-title">SECTION 4: </span> User Interface Design (Views)</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <ul class="parragraphs">
          <li>UIView and subclasses</li>
          <li>The View hiearchy and lifecycle</li>
          <li>Coordinate Systems</li>
          <li>Drawing (Core Graphics)
            <ul>
              <li>Graphics Contexts</li>
              <li>Transparency</li>
            </ul>
          </li>
          <li>Touch and Gesture handling</li>
          <li>Printing
            <ul>
              <li>Simple Draw App</li>
            </ul>
          </li>
        </ul>

        <hr class="greyHr">
      </div>

      <!-- TAB #5 -->

      <div class="panel-heading" role="tab" id="headingFive">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <h3><span class="syllabus-title">SECTION 5: </span> Graphics</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
        <ul class="parragraphs">
          <li>UIImage/UIImageView</li>
          <li>CoreGraphics</li>
          <li>Background compositing
            <ul>
              <li>Graphics contexts</li>
              <li>Image manipulation</li>
              <li>Scale/Rotate/Transform</li>
              <li>Special effects</li>
              <li>Simple Photo Album </li>
            </ul>
          </li>
        </ul>

        <hr class="greyHr">
      </div>


      <!-- TAB #6 -->

      <div class="panel-heading" role="tab" id="headingSix">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          <h3><span class="syllabus-title">SECTION 6: </span> Auto Layout</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
        <ul class="parragraphs">
          <li>Interface Builder Review
            <ul>
              <li>Setting Frames and Bounds</li>
            </ul>
          </li>
          <li>Creating constraints
            <ul>
              <li>Relations</li>
              <li>Multipliers, Constants and Priorities</li>
            </ul>
          </li>
          <li>Dynamic constraints
            <ul>
              <li>Constraints as Outlets</li>
            </ul>
          </li>
          <li>Testing Rotations and resizing</li>
          <li>Resolving Constraint Conflicts
            <ul>
              <li>Simple Form App with constraint handling</li>
              <li>Capstone project planning/support </li>
            </ul>
          </li>
        </ul>

        <hr class="greyHr">
      </div>

      <!-- TAB #7 -->

      <div class="panel-heading" role="tab" id="headingSeven">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          <h3><span class="syllabus-title">SECTION 7: </span> Animations</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
        <ul class="parragraphs">
          <li>Review of some functional programming concepts
            <ul>
              <li>Closures</li>
              <li>Types and Generics</li>
            </ul>
          </li>
          <li>UIView Animation</li>
          <li>Dynamic Animation
            <ul>
              <li>gravity</li>
              <li>collisions</li>
              <li>behaviors</li>
            </ul>
          </li>
          <li>UIView
            <ul>
              <li>Use dynamic animation to bounce a ball around </li>
            </ul>
          </li>
        </ul>

        <hr class="greyHr">
      </div>

      <!-- TAB #8 -->

      <div class="panel-heading" role="tab" id="headingEight">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          <h3><span class="syllabus-title">SECTION 8: </span> Scrolling Views</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
        <ul class="parragraphs">
          <li>Overview of UIScrollView, UITableView and UICollectionView</li>
          <li>Coordinate System review</li>
          <li>Constraint handling</li>
          <li>LifeCycles</li>
          <li>Delegation</li>
          <li>Datasources</li>
          <li>Performance and memory management topics</li>
          <li>Infinite scrollview/carousel</li>
        </ul>

        <hr class="greyHr">
      </div>

      <!-- TAB #9 -->

      <div class="panel-heading" role="tab" id="headingNine">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          <h3><span class="syllabus-title">SECTION 9: </span> Advanced Animation</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
        <ul class="parragraphs">
          <li>Differences between the iPhone and the iPad</li>
          <li>Layouts for CollectionViews</li>
          <li>Animating Layouts</li>
          <li>Using Multiple Layouts (and animating between layouts with one UIViewController)</li>
          <li>Animations with multiple UICollectionViewControllers</li>
          <li>Build a complex spinning view </li>
        </ul>

        <hr class="greyHr">
      </div>

      <!-- TAB #10 -->

      <div class="panel-heading" role="tab" id="headingTen">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          <h3><span class="syllabus-title"> SECTION 10: </span> Networking</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
        <ul class="parragraphs">
          <li>Intro to Thread Management
            <ul>
              <li>dispatch_async</li>
              <li>NSOperationQueue/NSOperation</li>
            </ul>
          </li>
          <li>HTTP Get/Post/Delete</li>
          <li>Consuming RESTful Web Services
            <ul>
              <li>Fetching</li>
              <li>Parsing of JSON or XML</li>
            </ul>
          </li>
          <li>Using UIWebView</li>
          <li>Security
            <ul>
              <li>OAuth2
                <ul>
                  <li>App IDs</li>
                  <li>Grant Codes</li>
                  <li>Access Tokens</li>
                  <li>Redirects</li>
                </ul>
              </li>
              <li>Keychains</li>
            </ul>
          </li>
          <li>Display of Fetched and Parsed Data</li>
          <li>Service Review:
            <ul>
              <li>Twitter</li>
              <li>Facebook</li>
              <li>Instagram</li>
            </ul>
          </li>
          <li>fetch twitter feed and display in a table view</li>
        </ul>

        <hr class="greyHr">
      </div>

      <!-- TAB #11 -->

      <div class="panel-heading" role="tab" id="headingEleven">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          <h3><span class="syllabus-title"> SECTION 11: </span> Database Management on iOS Devices</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
        <ul class="parragraphs">
          <li>Data Models
            <ul>
              <li>Entities</li>
              <li>Attributes</li>
              <li>Relationships</li>
              <li>FetchedProperties</li>
            </ul>
          </li>
          <li>Simple UI: NSFetchedResultsController</li>
          <li>Persistent Database (NSPersistentStoreCoordinator)</li>
          <li>Object Graph (NSManagedObjectContext)</li>
          <li>Persistent Objects (NSManagedObject)</li>
          <li>Queries (NSFetchRequest, NSPredicate)</li>
          <li>Inserts/Updates/Deletes (NSManagedObjectContext again)</li>
          <li>Store twitter feed from networking app into a local database</li>
          <li>Capstone support session</li>
        </ul>

        <hr class="greyHr">
      </div>

      <!-- TAB #12 -->

      <div class="panel-heading" role="tab" id="headingTwelve">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
          <h3><span class="syllabus-title"> SECTION 12: </span> Location Based Apps</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
        <ul class="parragraphs">
          <li>Location Basics
            <ul>
              <li>Lat/Lon/Alt</li>
              <li>Maps and Projections</li>
            </ul>
          </li>
          <li>CoreLocation elements
            <ul>
              <li>Actual location (CLLocation)</li>
              <li>Starting and stopping location updates (CLLocationManager)</li>
              <li>Receiving updates (CLLocationManagerDelegate)</li>
              <li>Displaying location (MKMapView)</li>
              <li>Annotations (MKAnnotation/MKAnnotationView)</li>
              <li>Viewpoints (MKMapCamera)</li>
              <li>Searching Maps (MKLocalSearch)</li>
              <li>Going Places (MKDirections)</li>
              <li>Map Overlays (MKOverlay)</li>
              <li>Beacons</li>
            </ul>
          </li>
          <li>Simple app showing user position with graphics overlays</li>
          <li>Capstone Support Session</li>
        </ul>

        <hr class="greyHr">
      </div>

      <!-- TAB #13 -->

      <div class="panel-heading" role="tab" id="headingThirteen">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
          <h3><span class="syllabus-title"> SECTION 13: </span> Onboard Sensors</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
        <ul class="parragraphs">
          <li>Using the Camera and the Film Roll
            <ul>
              <li>UIImagePickerController</li>
            </ul>
          </li>
          <li>Core Motion
            <ul>
              <li>Accelerometer</li>
              <li>Gyro</li>
              <li>Magnetometer</li>
            </ul>
          </li>
          <li>Capstone Presentation</li>
        </ul>

        <hr class="greyHr">
      </div>
      <%else%>
      <div class="panel-heading" role="tab" id="headingOne">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <h3>Front-End Development Foundations</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

        <ul class="parragraphs">
          <p class="parragraphs">The first half of this course covers the materials in the <a href="../programs/front-end" target="_blank" class="orange">Front-End Development Foundations</a>.</p>
        </ul>
        <hr class="greyHr">
      </div>

      <!-- TAB #2 -->

      <div class="panel-heading" role="tab" id="headingTwo">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h3>Backend: <%= @course.back_end_lang%> and <%=@course.back_end_framework%></h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <ul class="parragraphs">
          <%if @course.back_end_lang == "Python"%>
            <p>The second half of this course covers <a class="orange" href="../programs/python">backend development with <%= @course.back_end_lang%> and <%=@course.back_end_framework%></a>.</p>
          <%elsif @course.back_end_lang == "C#"%>
            <p>The second half of this course covers <a class="orange" href="../programs/csharp">backend development with <%= @course.back_end_lang%> and <%=@course.back_end_framework%></a>.</p>
          <%elsif @course.back_end_lang == "Javascript"%>
            <p>The second half of this course covers <a class="orange" href="../programs/mean">backend development with <%= @course.back_end_lang%> and <%=@course.back_end_framework%></a>.</p>
          <%elsif @course.back_end_lang == "Ruby"%>
            <p>The second half of this course covers <a class="orange" href="../programs/ruby">backend development with <%= @course.back_end_lang%> and <%=@course.back_end_framework%></a>.</p>
          <%end%>
        </ul>

        <hr class="greyHr">
      </div>
      <%end%>
    </div>
  </div>
</div>


<!----------------------------------------------------------------------

PRICING

----------------------------------------------------------------------->


<div class="container">
  <div class="row program-content padding-bottom-top">
    <div class="col-md-12">
      <h1>Pricing</h1>

    <% if @course.type_of_program == "Part-time Class (12 months)" %>
      <p class="parragraphs">There are multiple payment options for the Evening Program. With each payment option, you retain the flexibility to apply to take the second half of the program during the day.</p>
    </div>
    <div class="col-md-4">
      <h3 class="orange">Option 1</h3>
      <p class="parragraphs">Full Payment up-front</p>
      <br>
      <p class="parragraphs">Your cost is $10,000</p>
      <ul>
        <li class="parragraphs">$4,000 initial deposit upon your acceptance into the program, in order to hold your seat.</li>
        <li class="parragraphs">$6,000 balance is due on or before the first day of class</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="orange">Option 2</h3>
      <p class="parragraphs">Initial deposit plus two payments</p>
      <br>
      <p class="parragraphs">Your cost is $10,500</p>
      <ul>
        <li class="parragraphs">$4,000 initial deposit upon your acceptance into the program, in order to hold your seat.</li>
        <li class="parragraphs">$2,000 balance is due on or before the first day of class</li>
        <li class="parragraphs">$4,500 payment due on or before the first day of the second half of the program (i.e. the beginning of your seventh month in the program)</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="orange">Option 3</h3>
      <p class="parragraphs">Initial deposit plus two payments</p>
      <br>
      <p class="parragraphs">Your cost is $11,000</p>
      <ul>
        <li class="parragraphs">$4,000 initial deposit upon your acceptance into the program, in order to hold your seat.</li>
        <li class="parragraphs">$1,000 balance is due on or before the first day of class</li>
        <li class="parragraphs">$600 per month for 10 months starting with the second month of the program.</li>
      </ul>
    </div>

    <% elsif @course.type_of_program == "Bootcamp (6 months)"%>

    <div class="col-md-12">
      <p class="parragraphs">There are two ways to pay for your training at NSS: our standard tuition or by qualifying as a Nashville Tech Apprentice. Out of a total of 24 seats in each cohort at NSS, our goal is to have 12 be Nashville Tech Apprentices and the remainder paying standard tuition. A limited number of grants and scholarships are also available for students from underrepresented groups like women and minorities.</p>
    </div>
    <div class="col-md-6">
      <h3 class="orange">Standard Tuition</h3>
      <p class="parragraphs">The standard tuition program began in 2014 - previously seats in our classes were only available to Nashville residents or those with strong local connections. With this program we are now able to open up admission to Nashville Software School to:</p>
      <ul>
        <li class="parragraphs">Students who are shopping across the U.S. for a programming bootcamp and are interested in a six-month program like ours.</li>
        <li class="parragraphs">Local residents who want to graduate unencumbered by the requirement to pay the school back for their training, or go to work for one of our partners.  You may desire to work on your own tech startup or you may desire to live somewhere other than Nashville.</li>
        <li class="parragraphs">Students whose tuition is being reimbursed by an employer.</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h3 class="orange">Nashville Tech Apprentice Program</h3>
      <p class="parragraphs">A Nashville Software School Tech Apprenticeship allows you to defer most of the cost of your training until you graduate and go to work as a software developer. You will pay us $1,000 in tuition on acceptance to the program and then nothing else until after graduation. After graduation, if you accept a position through our placement program from one of our partner companies, the rest of your tuition will be reimbursed by your employer. If you choose to go to work for someone other than one of our partners, we'll work with you to either negotiate payment from your new employer and/or work out a payment plan by which you can reimburse the school.</p>
      <ul class="default-ul">
        <li class="parragraphs">Initial tuition payment of $1,000, with the remainder to be paid after the program is complete</li>
        <li class="parragraphs">Limited to students that are committed to staying in Middle Tennessee post-graduation</li>
        <li class="parragraphs">Priority is given to students whose economic circumstances would otherwise prevent their attendance at Nashville Software School</li>
        <li class="parragraphs">A limited number of cost-of-living stipends available on a needs-driven basis to Apprentices during the final 3 months of the program.</li>
      </ul>
    </div>

    <% else @course.tuition == "Professional Development (3 months)"%>
      <%= @course.tuition %>
    <% end %>
  </div>
</div>
